button{
    top: 15px;
    position: relative;
    margin: auto;
    display: block;
}

#container{
    top: 40px;
    line-height: 0;
    position: relative;
    margin: auto;
    width: 800px;
    height: 800px;
    border: none;
    outline: 2px solid black;
    padding: 0;
}

.grid{
    margin: 0;
    padding: 0;
    outline: 1px solid black;
    border: none;
    display: inline-block;
}